<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.sst.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.sst.domain.po.QuestionPO">
            <id property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="questionTeacherId" column="question_teacher_id" jdbcType="INTEGER"/>
            <result property="questionSubjectId" column="question_subject_id" jdbcType="INTEGER"/>
            <result property="questionStem" column="question_stem" jdbcType="VARCHAR"/>
            <result property="questionAnswerA" column="question_answer_a" jdbcType="VARCHAR"/>
            <result property="questionAnswerB" column="question_answer_b" jdbcType="VARCHAR"/>
            <result property="questionAnswerC" column="question_answer_c" jdbcType="VARCHAR"/>
            <result property="questionAnswerD" column="question_answer_d" jdbcType="VARCHAR"/>
            <result property="questionTrueAnswer" column="question_true_answer" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        question_id,question_teacher_id,question_subject_id,
        question_stem,question_answer_a,question_answer_b,
        question_answer_c,question_answer_d,question_true_answer
    </sql>
</mapper>
