<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.sst.mapper.SpriteRecordMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.sst.domain.po.SpriteRecordPO">
            <id property="spriteRecordId" column="sprite_record_id" jdbcType="INTEGER"/>
            <result property="spriteRecordUserId" column="sprite_record_user_id" jdbcType="INTEGER"/>
            <result property="spriteRecordSpriteId" column="sprite_record_sprite_id" jdbcType="INTEGER"/>
            <result property="spriteRecordHealth" column="sprite_record_health" jdbcType="INTEGER"/>
            <result property="spriteRecordExperience" column="sprite_record_experience" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sprite_record_id,sprite_record_user_id,sprite_record_sprite_id,
        sprite_record_health,sprite_record_experience
    </sql>
</mapper>
