<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.sst.mapper.SpriteInventoryMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.sst.domain.po.SpriteInventoryPO">
            <id property="spriteInventoryId" column="sprite_inventory_id" jdbcType="INTEGER"/>
            <result property="spriteInventoryUserId" column="sprite_inventory_user_id" jdbcType="INTEGER"/>
            <result property="spriteInventorySpriteName" column="sprite_inventory_sprite_name" jdbcType="VARCHAR"/>
            <result property="spriteInventoryLevel" column="sprite_inventory_level" jdbcType="INTEGER"/>
            <result property="spriteInventoryAttack" column="sprite_inventory_attack" jdbcType="INTEGER"/>
            <result property="spriteInventoryDefence" column="sprite_inventory_defence" jdbcType="INTEGER"/>
            <result property="spriteInventoryFullHealth" column="sprite_inventory_full_health" jdbcType="INTEGER"/>
            <result property="spriteInventoryTrueHealth" column="sprite_inventory_true_health" jdbcType="INTEGER"/>
            <result property="spriteInventoryFullExperience" column="sprite_inventory_full_experience" jdbcType="INTEGER"/>
            <result property="spriteInventoryTrueExperience" column="sprite_inventory_true_experience" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sprite_inventory_id,sprite_inventory_user_id,sprite_inventory_sprite_name,
        sprite_inventory_level,sprite_inventory_attack,sprite_inventory_defence,
        sprite_inventory_full_health,sprite_inventory_true_health,sprite_inventory_full_experience,
        sprite_inventory_true_experience
    </sql>
</mapper>
