<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.sst.mapper.SpritesInventoryMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.sst.domain.po.SpritesInventoryPO">
            <id property="spritesInventoryId" column="sprites_inventory_id" jdbcType="INTEGER"/>
            <result property="spritesInventoryUserId" column="sprites_inventory_user_id" jdbcType="INTEGER"/>
            <result property="spritesInventorySpriteName" column="sprites_inventory_sprite_name" jdbcType="VARCHAR"/>
            <result property="spritesInventoryLevel" column="sprites_inventory_level" jdbcType="OTHER"/>
            <result property="spritesInventoryAttack" column="sprites_inventory_attack" jdbcType="OTHER"/>
            <result property="spritesInventoryDefence" column="sprites_inventory_defence" jdbcType="OTHER"/>
            <result property="spritesInventoryFullHealth" column="sprites_inventory_full_health" jdbcType="OTHER"/>
            <result property="spritesInventoryTrueHealth" column="sprites_inventory_true_health" jdbcType="OTHER"/>
            <result property="spritesInventoryFullExperience" column="sprites_inventory_full_experience" jdbcType="OTHER"/>
            <result property="spritesInventoryTrueExperience" column="sprites_inventory_true_experience" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sprites_inventory_id,sprites_inventory_user_id,sprites_inventory_sprite_name,
        sprites_inventory_level,sprites_inventory_attack,sprites_inventory_defence,
        sprites_inventory_full_health,sprites_inventory_true_health,sprites_inventory_full_experience,
        sprites_inventory_true_experience
    </sql>
</mapper>
