<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.alibaba.mapper.PostGraduateMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.alibaba.domain.po.PostGraduatePO">
            <id property="postGraduateId" column="post_graduate_id" jdbcType="INTEGER"/>
            <result property="postGraduateYear" column="post_graduate_year" jdbcType="INTEGER"/>
            <result property="postGraduateTeacherId" column="post_graduate_teacher_id" jdbcType="INTEGER"/>
            <result property="postGraduateTeacherName" column="post_graduate_teacher_name" jdbcType="CHAR"/>
            <result property="postGraduateKpi" column="post_graduate_kpi" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        post_graduate_id,post_graduate_year,post_graduate_teacher_id,
        post_graduate_teacher_name,post_graduate_kpi
    </sql>
</mapper>
