<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.alibaba.mapper.S1Mapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.alibaba.domain.po.S1PO">
            <id property="s1Id" column="s1_id" jdbcType="INTEGER"/>
            <result property="s1TeacherId" column="s1_teacher_id" jdbcType="INTEGER"/>
            <result property="s1Year" column="s1_year" jdbcType="INTEGER"/>
            <result property="s1KpiCourse" column="s1_kpi_course" jdbcType="DOUBLE"/>
            <result property="s1KpiPractical1" column="s1_kpi_practical1" jdbcType="DOUBLE"/>
            <result property="s1KpiPractical2" column="s1_kpi_practical2" jdbcType="DOUBLE"/>
            <result property="s1KpiPractical3" column="s1_kpi_practical3" jdbcType="DOUBLE"/>
            <result property="s1KpiPractical4" column="s1_kpi_practical4" jdbcType="DOUBLE"/>
            <result property="s1KpiPostgraduate" column="s1_kpi_postgraduate" jdbcType="DOUBLE"/>
            <result property="s1Kpi" column="s1_kpi" jdbcType="DOUBLE"/>
            <result property="s1HoursStd" column="s1_hours_std" jdbcType="DOUBLE"/>
            <result property="s1Score" column="s1_score" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        s1_id,s1_teacher_id,s1_year,
        s1_kpi_course,s1_kpi_practical1,s1_kpi_practical2,
        s1_kpi_practical3,s1_kpi_practical4,s1_kpi_postgraduate,
        s1_kpi,s1_hours_std,s1_score
    </sql>
</mapper>
