<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.alibaba.mapper.SFinalMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.alibaba.domain.po.SFinalPO">
            <id property="sFinalId" column="s_final_id" jdbcType="INTEGER"/>
            <result property="sFinalTeacherName" column="s_final_teacher_name" jdbcType="VARCHAR"/>
            <result property="sFinalTeacherId" column="s_final_teacher_id" jdbcType="INTEGER"/>
            <result property="sFinalScore" column="s_final_score" jdbcType="DOUBLE"/>
            <result property="sFinalYear" column="s_final_year" jdbcType="INTEGER"/>
            <result property="sFinalGrade" column="s_final_grade" jdbcType="CHAR"/>
            <result property="sFinalTitleLevel" column="s_final_title_level" jdbcType="TINYINT"/>
            <result property="sFinalHoursAll" column="s_final_hours_all" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        s_final_id,s_final_teacher_name,s_final_teacher_id,
        s_final_score,s_final_year,s_final_grade,
        s_final_title_level,s_final_hours_all
    </sql>
    <select id="selectSFinalByTeacherId" resultType="cn.ryanalexander.alibaba.domain.po.SFinalPO">
        select * from s_final where s_final_teacher_id=#{teacherId} and s_final_year=#{year} limit 1;
    </select>


</mapper>
