<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Teacher">
            <id property="t_id" column="t_id" jdbcType="INTEGER"/>
            <result property="t_name" column="t_name" jdbcType="VARCHAR"/>
            <result property="t_mail" column="t_mail" jdbcType="VARCHAR"/>
            <result property="t_phone" column="t_phone" jdbcType="CHAR"/>
            <result property="t_pwd" column="t_pwd" jdbcType="VARCHAR"/>
            <result property="t_ac_id" column="t_ac_id" jdbcType="INTEGER"/>
            <result property="t_team" column="t_team" jdbcType="VARCHAR"/>
            <result property="t_type" column="t_type" jdbcType="VARCHAR"/>
            <result property="t_title" column="t_title" jdbcType="VARCHAR"/>
            <result property="t_title_level" column="t_title_level" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        t_id,t_name,t_mail,
        t_phone,t_pwd,t_ac_id,
        t_team,t_type,t_title,
        t_title_level
    </sql>
    <insert id="insertByIdName" parameterType="java.util.List">
        insert into teacher(t_id, t_name) values
        <foreach collection ="list" item="t" separator =",">
            (#{t.t_id}, #{t.t_name})
        </foreach>
    </insert>

    <insert id="insertByIdNameEmail" parameterType="java.util.List">
        insert into teacher (t_id, t_name, t_mail)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.t_id}, #{item.t_name}, #{item.t_mail})
        </foreach>
    </insert>
    <update id="updateEmail" parameterType="String">
        UPDATE teacher SET t_mail = #{t_mail} WHERE t_id = #{t_id}
    </update>

    <update id="updatePwd" parameterType="String">
        UPDATE teacher SET t_pwd = #{Tpwd} WHERE t_id = #{t_id}
    </update>

    <select id="getById" parameterType="String" resultType="cn.ryanalexander.alibaba.domain.po.Teacher">
        select * from teacher where t_id=#{t_id}
    </select>
</mapper>
