<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.alibaba.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.alibaba.domain.po.Teacher">
            <id property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="teacherMail" column="teacher_mail" jdbcType="VARCHAR"/>
            <result property="teacherPhone" column="teacher_phone" jdbcType="CHAR"/>
            <result property="teacherPwd" column="teacher_pwd" jdbcType="VARCHAR"/>
            <result property="teacherAcademyId" column="teacher_academy_id" jdbcType="INTEGER"/>
            <result property="teacherTeam" column="teacher_team" jdbcType="VARCHAR"/>
            <result property="teacherType" column="teacher_type" jdbcType="VARCHAR"/>
            <result property="teacherTitle" column="teacher_title" jdbcType="VARCHAR"/>
            <result property="teacherTitleLevel" column="teacher_title_level" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id,teacher_name,teacher_mail,
        teacher_phone,teacher_pwd,teacher_academy_id,
        teacher_team,teacher_type,teacher_title,
        teacher_title_level
    </sql>
    <insert id="saveOrUpdateBatchByMail" parameterType="java.util.List">
        insert into teacher(teacher_id, teacher_name, teacher_mail) values
        <foreach collection="items" item="i" separator=",">
           (#{i.teacherId},#{i.teacherName},#{i.teacherMail})
        </foreach>
        AS t1(r1, r2, r3) ON DUPLICATE KEY UPDATE
            teacher_mail = r3, teacher_name = r2
    </insert>


</mapper>
