<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.alibaba.mapper.TeacherTitleMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.alibaba.domain.po.TeacherTitlePO">
            <id property="titleId" column="title_id" jdbcType="INTEGER"/>
            <result property="titleTeacherId" column="title_teacher_id" jdbcType="INTEGER"/>
            <result property="titleTeacherName" column="title_teacher_name" jdbcType="VARCHAR"/>
            <result property="titleTeam" column="title_team" jdbcType="VARCHAR"/>
            <result property="titleType" column="title_type" jdbcType="VARCHAR"/>
            <result property="titleName" column="title_name" jdbcType="VARCHAR"/>
            <result property="titleLevel" column="title_level" jdbcType="TINYINT"/>
            <result property="titleYear" column="title_year" jdbcType="SMALLINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        title_id,title_teacher_id,title_teacher_name,
        title_team,title_type,title_name,
        title_level,title_year,create_time,
        update_time
    </sql>
</mapper>
