<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ryanalexander.alibaba.mapper.ThesisDesignMapper">

    <resultMap id="BaseResultMap" type="cn.ryanalexander.alibaba.domain.po.ThesisDesignPO">
            <id property="thesisDesignId" column="thesis_design_id" jdbcType="INTEGER"/>
            <result property="thesisDesignYear" column="thesis_design_year" jdbcType="INTEGER"/>
            <result property="thesisDesignNote" column="thesis_design_note" jdbcType="VARCHAR"/>
            <result property="thesisDesignTeacherId" column="thesis_design_teacher_id" jdbcType="INTEGER"/>
            <result property="thesisDesignTeacherName" column="thesis_design_teacher_name" jdbcType="CHAR"/>
            <result property="thesisDesignStudentName" column="thesis_design_student_name" jdbcType="CHAR"/>
            <result property="thesisDesignStudentId" column="thesis_design_student_id" jdbcType="OTHER"/>
            <result property="thesisDesignGrade" column="thesis_design_grade" jdbcType="TINYINT"/>
            <result property="thesisDesignFactor1" column="thesis_design_factor1" jdbcType="DOUBLE"/>
            <result property="thesisDesignFactor2" column="thesis_design_factor2" jdbcType="DOUBLE"/>
            <result property="thesisDesignT1" column="thesis_design_t1" jdbcType="DOUBLE"/>
            <result property="thesisDesignStd" column="thesis_design_std" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        thesis_design_id,thesis_design_year,thesis_design_note,
        thesis_design_teacher_id,thesis_design_teacher_name,thesis_design_student_name,
        thesis_design_student_id,thesis_design_grade,thesis_design_factor1,
        thesis_design_factor2,thesis_design_t1,thesis_design_std
    </sql>
</mapper>
